<div class="container mt-5">
  <h1 class="text-center">Edit Task</h1>
  <div class="background">
    <div class="card mt-4" style="background-color: transparent; border: 2px solid white;">
      <div class="card-body" style="color: white;">
        <%= render 'form', task: @task %>
      </div>
    </div>
  </div>
</div>
